// ------------------------------------
// <<<<<<<<<<<<<< ЗМІННІ >>>>>>>>>>>>>>
// ------------------------------------
$indent: 4vw; // відступ горизонтальний
$indentV: 1vh; // відступ вертикальний

// змінна для кольору
$bgDark: #792879;
$fontDark: #ad36ad;
$bgLight: lighten($bgDark, 60%);
$fontLight: #eee;

// змінна для шрифта
$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

// ------------------------------------
// <<<<<<<<<<<<<< МІКСІНИ >>>>>>>>>>>>>
// ------------------------------------
// міксіна для скидання стилів
@mixin reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}

// міксіна для темної теми
@mixin colorDark() {
    background-color: $bgDark;
    color: $bgLight;
}

// міксіна для світлої теми
@mixin colorLight() {
    background-color: $bgLight;
    color: $fontDark;
}

// міксіна для роботи з flex
@mixin flex($dir: row, $side) {
    display: flex;
    flex-direction: $dir;
    justify-content: $side;
}

// міксіна для стилізаціх границь елемента
@mixin border($col, $perc) {
    border: 2px solid $col;
    border-radius: $perc 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

// ------------------------------------
// <<<<<<<<<<<<<< СТИЛІ >>>>>>>>>>>>>>>
// ------------------------------------
html {
    scroll-behavior: smooth;
}

body {
    @include reset;
    @include colorLight;
    font-family: $font;
    font-size: 18px;
}

header {
    @include flex(row, space-between);
    @include colorDark;
    padding: $indentV $indent;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;

    a {
        color: $fontLight;
        text-decoration: none;
        font-size: 2rem;
    }

    nav {
        ul {
            @include reset;

            li {
                display: inline-block;
                margin-left: $indentV;

                a {
                    display: block;
                    font-size: 100%;
                    padding: $indentV;
                    text-transform: capitalize;
                    @include border(transparent, 20%);

                    &:hover,
                    &:active {
                        @include border($fontLight, 20%);
                    }
                }
            }
        }
    }
}

.home {
    @include flex(column, center);
    height: 80vh;
    padding: $indent;
    background-image: url(images/bg_header.jpg);
    background-size: cover;
    background-position: center center;

    div {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        color: $fontLight;
        text-shadow: 1px -1px 3px $fontDark;
        position: relative;
        z-index: 10;
        font-size: 1.5rem;

        h1 {
            text-transform: uppercase;
        }

        button {
            background: none;
            @include border($fontLight, 20%);
            @include colorDark;
            padding: $indentV * 2 $indentV * 3;
            text-transform: uppercase;
            font-family: $font;

            &:focus {
                outline: transparent;
                box-shadow: 1px -1px 3px $fontDark;
            }
        }
    }
}

.services {
    padding: $indentV $indent;
    @include colorLight();

    h2 {
        text-align: center;
    }

    >div {
        @include flex($side: space-between);
        gap: 30px;

        div {
            @include flex($dir: column, $side: start);
        }
        img {
            width: 100%;
        }
        ol {
            list-style-position: inside;
            padding: 0;
            margin: 0;
        }
    }
}